body {
  padding-top: 56px; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: black;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0; }

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif; }

#header .logo a {
  color: red; }

#header .logo img {
  max-height: 40px; }

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px; } }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu > ul {
  display: flex; }

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 24px; }

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff; 
}




/* Get Startet Button */
.get-started-btn {
  margin-left: 22px;
  background: red;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block; }

.get-started-btn:hover {
  background: #d61515;
  color: #fff; }

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px; } }

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 17px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right; }

.mobile-nav-toggle i {
  color: #37423b; }

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0; }

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none; }

.mobile-nav a {
  display: block;
  position: relative;
  color: #37423b;
  padding: 10px 20px;
  font-weight: 500;
  outline: none; }

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #5fcf80;
  text-decoration: none; }

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(32, 38, 34, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s; }

.mobile-nav-active {
  overflow: hidden; }

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible; }

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff; }

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
.carousel-item {
  height: 600px;
  min-height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.carousel-item:before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
}

.textocarrusel {
  color: #fff;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 800 }

.textocarrusel1 {
  background-color: black;
  border: 1px white solid;
  color: white;
  text-transform: uppercase;
  font-size: 28px; 
  font-weight: 500;
  padding: 1px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden; }

.section-bg {
  background-color: #f6f7f6; }

.section-title {
  padding-bottom: 40px; }

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif; }

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: red;
  margin: 4px 10px; }

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #37423b; }

.breadcrumbs {
  margin-top: 73px;
  text-align: center;
  background: #5fcf80;
  padding: 30px 0;
  color: #fff; }

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 63px; } }

.breadcrumbs h2 {
  font-size: 32px;
  font-weight: 500; }

.breadcrumbs p {
  font-size: 14px;
  margin-bottom: 0; }

/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.courses .course-item {
  border-radius: 5px;
  border: 1px solid #eef0ef; }

.courses .course-content {
  padding: 15px; }

.courses .course-content h3 {
  font-weight: 700;
  font-size: 20px; }

.courses .course-content h3 a {
  color: #37423b;
  transition: 0.3s; }

.courses .course-content h3 a:hover {
  color: #5fcf80; }

.courses .course-content p {
  font-size: 14px;
  color: #777777; }

.courses .course-content h4 {
  font-size: 14px;
  background: red;
  padding: 7px 14px;
  color: #fff;
  margin: 0; }

.courses .course-content .price {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #37423b; }

.courses .trainer {
  padding-top: 15px;
  border-top: 1px solid #eef0ef; }

.courses .trainer .trainer-profile img {
  max-width: 50px;
  border-radius: 50px; }

.courses .trainer .trainer-profile span {
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #5a6c60; }

.courses .trainer .trainer-rank {
  font-size: 18px;
  color: #657a6d; }

/*--------------------------------------------------------------
  # Trainers
  --------------------------------------------------------------*/
.trainers .member {
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #eef0ef; }

.trainers .member img {
  margin: -1px -1px 30px -1px; }

.trainers .member .member-content {
  padding: 0 20px 30px 20px; }

.trainers .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px; }

.trainers .member span {
  font-style: italic;
  display: block;
  font-size: 13px; }

.trainers .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa; }

.trainers .member .social {
  margin-top: 15px; }

.trainers .member .social a {
  color: #7e9486;
  transition: 0.3s; }

.trainers .member .social a:hover {
  color: #5fcf80; }

.trainers .member .social i {
  font-size: 18px;
  margin: 0 2px; }

/*--------------------------------------------------------------------*/
.card-header {
  text-align: center; }

.card-textTitle {
  text-align: center; }

.card-text {
  text-align: center; }

.btn-primary {
  text-align: center; }

/* Main Footer */
footer .main-footer {
  padding: 20px 0;
  background: #252525; }

footer ul {
  padding-left: 0;
  list-style: none; }

/* Copy Right Footer */
.footer-copyright {
  background: #222;
  padding: 5px 0; }

.footer-copyright .logo {
  display: inherit; }

.footer-copyright nav {
  float: right;
  margin-top: 5px; }

.footer-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-copyright nav ul li {
  border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px; }

.footer-copyright nav ul li a {
  color: #969696; }

.footer-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0; }

.footer-copyright p {
  color: #969696;
  margin: 2px 0 0; }

/* Footer Top */
.footer-top {
  background: #252525;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #222; }

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer {
  background: transparent; }

footer.transparent .footer-copyright {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); }

/* Footer light */
footer.light .footer-top {
  background: #f9f9f9; }

footer.light .main-footer {
  background: #f9f9f9; }

footer.light .footer-copyright {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3); }

/* Footer 4 */
.footer- .logo {
  display: inline-block; }

/*==================== 
      Widgets 
  ====================== */
.widget {
  padding: 20px;
  margin-bottom: 40px; }

.widget.widget-last {
  margin-bottom: 0px; }

.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none; }

.widget.subscribe p {
  margin-bottom: 18px; }

.widget li a {
  color: #ff8d1e; }

.widget li a:hover {
  color: #4b92dc; }

.widget-title {
  margin-bottom: 20px; }

.widget-title span {
  background: #839FAD none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin-top: 25px;
  position: relative;
  width: 20%; }

.widget-title span::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%; }

.widget-title.text-center span, .widget-title.text-center span::after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.widget .badge {
  float: right;
  background: #7f7f7f; }

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
  color: #fff; }

ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto; }

ul.social-footer2 li {
  display: inline-block;
  padding: 0; }

ul.social-footer2 li a:hover {
  background-color: #ff8d1e; }

ul.social-footer2 li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center; }

.btn {
  background-color: #ff8d1e;
  color: #fff; }

.btn:hover, .btn:focus, .btn.active {
  background: #4b92dc;
  color: #fff;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s; }

.footer-1 {
  text-align: center; }


  .linkdepago {
align-content:  left }



   /* IMAGENES DE CABECERA
  -------------------------------------------------- */


.page-header {
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.page-header:before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.30);
}

.page-header h1 {
  font-size: 120px;
  text-align: center;
  font-weight: 800;
  color: #fff;
  position: relative
}




   /* PAGINA DE SELECCIÓN IT
  -------------------------------------------------- */





  /* PAGINA DE CONTACTO
  -------------------------------------------------- */

  .page-header {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFFFF;
  padding: 0 15px;
  width: 100%;
  max-width: 880px;
}

.page-header .carousel .carousel-indicators {
  bottom: 60px;
}

.page-header>.container {
  color: #ffffff;
}

.page-header.header-small {
  height: 65vh;
  min-height: 65vh;
}

.page-header .iframe-container iframe {
  width: 100%;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid $gray-300;
  input,
  textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
    @include serif-font;
    &::-webkit-input-placeholder {
      color: $gray-600;
      @include serif-font;
    }
  }
  label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }
  .help-block {
    margin: 15px 0;
  }
}

.floating-label-form-group-with-value {
  label {
    top: 0;
    opacity: 1;
  }
}

.floating-label-form-group-with-focus {
  label {
    color: $primary;
  }
}
form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid $gray-300;
}

